/*---- GENERAL ----*/
html,body{
  height:100%;
  width: 100%;
}
body{
  margin:0;
  padding: 0;
  background-color: #333;
  font-family:sans-serif;
}
aside ul a:link,aside ul a:visited{
  text-decoration: none;
}
/*---- ASIDE ----*/
aside{
  text-align: center;
  display: inline-block;
  width: 250px;
  background-color: #111;
  height: 100%;
  box-shadow: 5px 0 10px rgba(0,0,0,0.3),inset 0 0 50px rgba(0,0,0,0.5)
}
aside img{
  width: 100px;
  margin:5px;
}
aside ul{
  margin:0;
  box-sizing: border-box;
  padding: 5px;
}
aside ul li{
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin:0 0 5px 0;
  padding: 20px 0;
  background: linear-gradient(to bottom, #fff , #eee);
  border-radius: 6px;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.3);
  color:rgb(36, 36, 36);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
